


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
.container{
    background-color: rgb(245, 244, 235);
    display: flex;
}
.left{
    width: 70%;
    

}
.right{
    width: 30%;
}
.cart{
    width: 70%;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
}
.cart h1{
    display: flex;
    font-size: 30px;
    margin: 0 -10px;

}
.imgWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px auto ;
}
.imgWrapper{
    width: 100%;
    display: flex;
}
.cart p {
    text-align: center;
    position: relative;
    top: -15px;
}
.h1-section{
    margin: 50px 100px;
    font-size: 18px;
}
.top-text{
    font-size: 12px;
    color:hsl(14, 86%, 42%) ;
}
.top-text h1{
    padding: 20px;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}
article{
    width: 30%; 
    margin: 10px;
    border-radius: 10px;
}
.prodIMG img{
    width: 100%;
    border-radius: 10px;
}
button{
    display: flex;
   width: 50%;
   justify-content: center;
   border-radius: 30px;
   border: solid 2px rgb(190, 189, 189);
   height: 40px;
   align-items: center;
   position: relative; 
   top: -25px;
   background-color: white;
}
#produkt1{
    display: flex;
}

button img{
    margin: 10px;
    margin-left: 20px;
}
.btnS{
    display: flex;
    justify-content: center;
    
}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    border-color:hsl(14, 86%, 42%) ;
}
p{
color: rgb(160, 160, 160);

}
.text-wrapper h1{
    font-size: 16px;
    margin: 5px auto;
}
h2{
    color:hsl(14, 86%, 42%) ;
    font-size: 16px;
    margin: 5px auto;
}
h3{
    display: flex;
    text-align: left;
    margin: 20px 20px;
    color: black;
}


.cart1{ 
    width: 70%;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    display: none;
}
.cart1 h1{
    display: flex;

}
hr{
    border-color: lightgray;
}
.koszyk{
    margin-top: -50px;
}
.imgWrapper1{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px auto ;
}
.imgWrapper1{
    width: 100%;
}
.cart1 p {
    text-align: center;
    position: relative;
    top: -15px;
}
#decrement{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: solid white 1px;
    padding: 2px;
    display: none;
}
#decrement:hover{
    background-color: hsl(14, 51%, 62%);
    cursor: pointer;
}
#increment{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: solid white 1px;
    padding: 2px;
    display: none;
}
#increment:hover{
    background-color: hsl(14, 51%, 62%);
    cursor: pointer;
}
#incSum{
    font-size: 15px;
    color: white;
    margin-right: 40px;
}
#btnTXT{
    font-weight: normal;
    font-size: 13px;
    
}
h5{
    margin: -20px 20px;
    font-size: 12px;
}
h4{
    margin: 5px 50px;
    color: rgb(158, 158, 158);
}
b{
    position: relative;
    margin: -30px 120px;
    top: -20px;
}

@media (max-width: 1000px){
article{
    width: 40%;
}
}
@media (max-width: 850px){
.left{
    width: 100%
}
.right{
    display: none;  
}
.cart1{
    width: 80%;
    justify-content: center ;
    display: flex;
}


}
@media (max-width: 550px){
    .products{
        display: flex;
        flex-direction: column;
       
    }
    article{
        width: 100%;
    }
    .cart1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}






